<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tambah Pengguna - Sistem Ujian Sekolah</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.1.0/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <%- include('partials/navigation') %>

  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Tambah Pengguna</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Form Tambah Pengguna</h3>
              </div>
              <div class="card-body">
                <form action="/admin/users/add" method="POST">
                  <div class="form-group">
                    <label for="fullname">Nama Lengkap</label>
                    <input type="text" class="form-control" id="fullname" name="fullname" required>
                  </div>
                  <div class="form-group">
                    <label for="userType">Tipe Pengguna</label>
                    <select class="form-control" id="userType" name="userType" required>
                      <option value="">Pilih Tipe Pengguna</option>
                      <option value="guru">Guru</option>
                      <option value="siswa">Siswa</option>
                      <option value="admin">Admin</option>
                      <option value="admin_sekolah">Admin Sekolah</option>
                    </select>
                  </div>
                  <div class="form-group" id="username_group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                  </div>
                  <div class="form-group" id="nis_group" style="display: none;">
                    <label for="nis">NIS</label>
                    <input type="text" class="form-control" id="nis" name="nis">
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                  </div>
                  <div class="form-group" id="id_sekolah_group" style="display: none;">
                    <label for="id_sekolah">ID Sekolah</label>
                    <input type="number" class="form-control" id="id_sekolah" name="id_sekolah">
                  </div>
                  <div class="form-group" id="nip_group" style="display: none;">
                    <label for="nip">NIP</label>
                    <input type="text" class="form-control" id="nip" name="nip">
                  </div>
                  <button type="submit" class="btn btn-primary">Tambah Pengguna</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <footer class="main-footer">
    <div class="float-right d-none d-sm-inline">
      Sistem Ujian Sekolah
    </div>
  </footer>
</div>

<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.1.0/js/adminlte.min.js"></script>
<script>
  $(document).ready(function() {
    $('#userType').change(function() {
      if ($(this).val() === 'guru' || $(this).val() === 'siswa') {
        $('#id_sekolah_group').show();
      } else {
        $('#id_sekolah_group').hide();
      }
      if ($(this).val() === 'guru') {
        $('#nip_group').show();
        $('#username_group').show();
        $('#nis_group').hide();
      } else if ($(this).val() === 'siswa') {
        $('#nip_group').hide();
        $('#username_group').hide();
        $('#nis_group').show();
      } else {
        $('#nip_group').hide();
        $('#username_group').show();
        $('#nis_group').hide();
      }
    });
  });
</script>
</body>
</html>
